# API
PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tohfa

# WEB
NEXT_PUBLIC_API_BASE=http://localhost:3001

# Slack (optional)
SLACK_WEBHOOK_URL=

# WEB3 (optional)
ETH_RPC=
TOHFA_ERC721=
OWNER_PK=
