
NEXT_PUBLIC_METRICS_URL=http://localhost:7080/metrics/overview
NEXT_PUBLIC_CONTRACT=0xYourContract
CONTRACT_PRIVATE_KEY=0xabc...   # مفتاح نشر/توقيع للتجارب
WALLETCONNECT_PROJECT_ID=xxxxxxxxxxxxxxxxxxxx
CHAIN_RPC_URL=https://polygon-zkevm.g.alchemy.com/v2/xxxx
TAP_SECRET=sk_live_xxx
HYPERPAY_ENTITY_ID=8ac7a4cxxx
