
NEXT_PUBLIC_METRICS_URL=http://localhost:7080/metrics/overview
DATABASE_URL=postgres://postgres:postgres@localhost:5432/tuhfa

# Wallets / Chain
WALLETCONNECT_PROJECT_ID=xxxxxxxxxxxxxxxxxxxx
CHAIN_RPC_URL=https://polygon-zkevm.g.alchemy.com/v2/xxxx
NEXT_PUBLIC_CONTRACT=0xYourContract
CONTRACT_PRIVATE_KEY=0xabc...

# Payments
TAP_SECRET=sk_live_xxx
TAP_BASE=https://api.tap.company/v2
HYPERPAY_ENTITY_ID=8ac7a4cxxx
HYPERPAY_BASE=https://eu-prod.oppwa.com
