# API
PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tohfa
REDIS_URL=redis://localhost:6379

# Payments
PAYMENTS_PROVIDER=tap # or hyperpay
TAP_SECRET=sk_test_xxx
TAP_PUBLIC=pk_test_xxx
TAP_RETURN_URL=http://localhost:3000/checkout/return
TAP_WEBHOOK_SECRET=whsec_xxx

HYPERPAY_ENTITY_ID=8ac7a4c873bxxx
HYPERPAY_USER_ID=merchant.xxx
HYPERPAY_PASSWORD=yourpassword
HYPERPAY_TEST_MODE=true
HYPERPAY_RETURN_URL=http://localhost:3000/checkout/return

# Web3
CHAIN_RPC_URL=https://polygon-mumbai.infura.io/v3/yourkey
CONTRACT_ADDRESS=0xYourErc721
WALLET_PRIVATE_KEY=0xyourprivatekey

# NFC
NFC_SECRET_SALT=tohfa_salt